/*
 * CSS Rules
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 * General Rules
 */

 body {
 	background: #FFF;
 	font-family: 'Lato', sans-serif !important;
 	overflow-x: hidden;
 }

/*
 * Header
 */

 header {
 	position: fixed;
 	background-color: #262626;
 	background-image: url("https://www.commentnation.com/backgrounds/images/abstract_purple_floral_wallpaper_background_seamless.jpg");
  	background-repeat: repeat-x;
 	width: 100%;
 	height: 85px;
 	border-bottom: 3px solid #D4AF37;
 }

 #header-img {
 	max-width: 300px;
 	height: auto;
 }

 .nav-link {
 	color: #F5F5F5;
 }

 .nav-link:hover {
 	color: #D4AF37;
 	transition: 0.5s;
 }

/*
 * Main
 */

 section {
 	width: 100vw;
 	height: 100vh;
 	background-color: #F5F5F5;
 	/*border-bottom: 1px solid #000;*/
 	padding: 10px;
 }

 .section-title {
 	text-align: center;
 	font-size: 17px;
 	text-transform: uppercase;
 }

 section#home > form#form {
 	margin-top: 85px;
 }

 section#home > form#form > div {
 	margin-top: 10px;
 	margin-bottom: 15px;
 }

 label#email-label {
 	display: block;
 	font-size: 18px;
 	font-weight: bold;
 	text-align: center;
 	text-transform: uppercase;
 }

 input#email {
 	display: block;
 	width: 20%;
 	margin: 0 auto;
 }

 input#submit {
 	width: 10%;
 	display: block;
 	margin: 0 auto;
 }

 iframe {
 	display: block;
 	margin: 0 auto;
 	margin-top: 15px;
 }

 section#projects,
 section#contact {
 	background-color: #262626;
 	color: #F5F5F5;
 }

/*
 * Footer
 */

 #footer {
 	width: 100vw;
 	background-image: url("https://www.commentnation.com/backgrounds/images/abstract_purple_floral_wallpaper_background_seamless.jpg");
  	background-repeat: repeat-x;
  	color: #F5F5F5;
 	font-size: 13px;
 	text-align: center;
 	padding: 10px;
 	border-top: 2px solid #D4AF37;
 }

 #footer > p {
 	margin-bottom: 0;
 	text-transform: uppercase;
 }

 #footer > p > a {
 	color: #F5F5F5;
 	text-decoration: none;
 }

 #footer > p > a:hover {
 	color: #D4AF37;
 	transition: 0.5s;
 }